[2017-12-31 11:15] cg-cnu opened #4 "☮️ Add code of conduct (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 09:07] cg-cnu opened #6 "Add license file (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 09:17] cg-cnu opened #7 "Add editorconfig file (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 13:18] vikramnr commented on #6
@cg-cnu  Can I take this up?

[2018-01-01 13:21] cg-cnu commented on #6
@vikramnr go ahead. While you are at it can you change the year to 2018 as well :)

Btw, Happy new year :)

[2018-01-01 16:04] cg-cnu opened #8 "Add gitter badge to readme (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 16:05] cg-cnu opened #9 "Add license badge to readme (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-01-01 16:25] cg-cnu opened #10 "Add homepage field in package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 16:34] cg-cnu opened #11 "Add bugs field to package.json (first-timers-only)"
## first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods

[2018-01-01 22:38] kkavita92 commented on #4
I'd like to take this on!

[2018-01-02 13:43] cg-cnu commented on #4
Go ahead @kkavita92 👍

[2018-01-02 13:49] #10 closed

[2018-01-02 13:53] cg-cnu commented on #10
Thanks for your contribution @JensThiel 👏  Hope this is the first of your many amazing open source contributions 🎆 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to get update on DAV projects and find out about more opportunities to contribute 😄

[2018-01-03 15:01] nachiketdhamankar commented on #8
Hello, can I give it a try?

[2018-01-03 15:02] cg-cnu commented on #8
@nachiketdhamankar Sure go ahead 👍

[2018-01-03 17:48] tekon92 commented on #11
hi, i'd to take this one.

[2018-01-03 17:52] cg-cnu commented on #11
Hi, these issues are especially for first-timers. Those who have never contributed to open source and trying to get a basic understanding with a small pr. You can pick it up of you have not done any contribution before. Thanks :)

[2018-01-04 04:57] #8 closed

[2018-01-04 04:58] cg-cnu commented on #8
Congratulations @nachiketdhamankar on your first contribution to opensource. 🎆 You did it 👏 Hope this is the starting of many contributions 🙂

[2018-01-04 08:59] mintunitish commented on #7
I would like to do it.

[2018-01-04 09:41] cg-cnu commented on #7
Sure @mintunitish go ahead 👍

[2018-01-04 09:43] mintunitish commented on #7
The .editorconfig file is already there. There's no change to commit.

[2018-01-04 09:46] cg-cnu commented on #7
Sorry @mintunitish I accidentally created this issue. Sorry for the trouble. Am closing this one. You can look at other repos in DAV for contributing. Thanks for your interest in contributing to opensource 👍

[2018-01-04 09:46] #7 closed

[2018-01-04 10:22] #4 closed

[2018-01-04 10:24] cg-cnu commented on #4
Congratulations @kkavita92 on your first contribution to opensource 👏 Hope you learned about the process and had fun along the way. Feel free to join our [gitter  channel](https://gitter.im/DAVFoundation/DAV-Contributors) to find out more opportunities 🙂

[2018-01-04 10:34] cg-cnu commented on #7
Hey @mintunitish If you are interested you can work on this one https://github.com/DAVFoundation/missioncontrol/issues/124. Just comment over there and I will assign it.

[2018-01-05 10:36] vikramnr commented on #6
@cg-cnu  I have raised PR

[2018-01-05 16:14] #6 closed

[2018-01-05 16:16] cg-cnu commented on #6
Thanks for your contribution @vikramnr 👏 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) 🙂

[2018-01-06 09:26] MaximeMylle commented on #9
this has already been fixed by someone else

[2018-01-06 17:52] #9 closed

[2018-01-06 18:04] cg-cnu commented on #9
Congratulations @MaximeMylle on your first contribution to opensource 🎆 👏 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)

[2018-02-04 14:41] griffobeid opened #20 "Remove unnecessary return statement from accounts [first-timers-only]"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-04 14:42] griffobeid opened #21 "Remove unnecessary return statement from blocks [first-timers-only]"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-04 14:43] griffobeid opened #22 "Remove unnecessary return statement from events [first-timers-only]"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-04 14:44] griffobeid opened #23 "Remove unnecessary return statement from transactions [first-timers-only]"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-04 18:29] THEozmic commented on #20
I would love to work on this

[2018-02-04 19:38] griffobeid commented on #20
Thanks, @THEozmic :rocket: let me know if you have any questions. :octocat:

[2018-02-04 20:46] TalAter commented on #11
Hi @tekon92
Do you still intend to take this one?

[2018-02-04 21:03] amit3992 commented on #23
I would love to help here

[2018-02-04 21:07] griffobeid commented on #23
Go for it, @amit3992 👍

[2018-02-04 22:12] THEozmic commented on #20
@griffobeid How can I be sure that my changes haven't broken anything seeing that there are no tests?

[2018-02-04 22:14] THEozmic commented on #21
I'd love to work on this

[2018-02-04 22:29] griffobeid commented on #20
You could either write a test and open another pull request, or you can make sure the accounts section is being filled with data still in the block explorer dashboard.

[2018-02-04 22:38] THEozmic commented on #20
There's still data in the accounts section and I'd like to setup the tests and probably write one that covers this case. I'm gonna raise a PR now.

[2018-02-04 22:53] griffobeid commented on #20
Go for it! I recommend using jest.

[2018-02-05 00:51] THEozmic commented on #20
I've been able to setup the test environment, should I go ahead and raise a PR? Or wait until this one: https://github.com/DAVFoundation/xplore/pull/24 has been merged?

[2018-02-05 17:23] felgeekpe commented on #22
i can take it!

[2018-02-05 17:23] TalAter commented on #22
Go for it @felgeekpe 👍

[2018-02-05 18:01] #22 closed

[2018-02-05 18:03] TalAter commented on #22
Looking good @felgeekpe 👍

Thanks for the help, and congrats on making your first :octocat: pull request!
I hope it is the first of many.

[2018-02-05 18:16] felgeekpe commented on #22
@TalAter Glad i can help! Thanks for the opportunity!
Just let me know if i can help with anything else

[2018-02-06 09:14] TalAter commented on #22
Feel free to take any of the other non-first-timers-only issues 👍

[2018-02-06 09:27] #23 closed

[2018-02-06 09:29] TalAter commented on #23
Thank you @amit3992 and congrats on making your first :octocat: pull request!

I hope this is the first of many contributions to open source.

Please join us on our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) where we discuss more opportunities to get involved with DAV and Open Source in general

[2018-02-06 14:27] griffobeid opened #27 "Create an action getLatestBlock from the function in blockchain"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-06 14:38] talihomz commented on #21
Is anyone working on this? If not, i'd like to give it a try :-)

[2018-02-06 14:43] griffobeid opened #28 "Create an action getTransactionCount from the function in blockchain"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-06 18:00] amit3992 commented on #27
Hello. I'd love to work on this.

[2018-02-06 18:07] THEozmic commented on #28
I want to work on this.

[2018-02-06 19:14] griffobeid commented on #28
Go for it @THEozmic

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-06 19:14] griffobeid commented on #27
Go for it @amit3992

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-06 20:05] griffobeid opened #29 "Write a function getRpcServer that returns the RPC endpoint"
Thank you for your help ❤️

## What is this project?
DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of ope

[2018-02-06 20:08] griffobeid opened #30 "Create an action getMiningStatus that calls the function in blockchain"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-06 21:51] TalAter commented on #21
@THEozmic I'd like to give this chance to someone else, as we already have a brilliant pull request from you on the other issue (and soon for `getTransactionCount`?).

@talihomz Go for it 👍 !

[2018-02-06 22:20] #20 closed

[2018-02-06 22:24] TalAter commented on #20
Wow @THEozmic ! What a spectacular 🌠  pull request.

I moved the tests to a new directory (to comply with the same standards we have in other projects). But other than that, well done 👍

I hope we can count on a many more contributions from you! I would love that.

[2018-02-07 07:39] THEozmic commented on #20
Thank you @TalAter. I look forward to making more contributions

[2018-02-07 21:31] bencassidy commented on #30
@griffobeid I'd like to grab this issue if possible

[2018-02-07 23:17] griffobeid commented on #30
Thanks, @bencassidy! Let me know if you have any questions 😄

[2018-02-08 12:48] #27 closed

[2018-02-08 12:53] TalAter commented on #27
Merged!
Thank you @amit3992 and congrats on a great first pull request

<img width="555" alt="amit3992__amit_kulkarni_" src="https://user-images.githubusercontent.com/926653/35973903-ca7b5ac0-0cdf-11e8-8b59-dc1882544afc.png">

[2018-02-08 13:56] #28 closed

[2018-02-08 13:57] TalAter commented on #28
Thank you @THEozmic !

Great one as always 👍

[2018-02-08 15:33] sakshamjain1398 commented on #21
is this issue still open to work on?

[2018-02-08 15:37] THEozmic commented on #29
I would love to have a go at this.

[2018-02-08 15:55] griffobeid commented on #29
It's all yours @THEozmic! Thanks 😄

[2018-02-08 20:37] alks801 commented on #11
Hi! I would like to take this

[2018-02-08 20:41] griffobeid opened #35 "Create a test for the transactions reducer"
## first-timers-only
This issue is tagged :octocat: first-timers-only. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods move

[2018-02-08 20:44] griffobeid commented on #11
It's all yours @sn0wil

[2018-02-08 20:51] #30 closed

[2018-02-08 21:07] griffobeid commented on #21
@sakshamjain1398 this issue has already been solved by @talihomz. Take a look at our other repositories and see what open issues interest you 😄

[2018-02-08 21:07] #21 closed

[2018-02-08 21:43] TalAter commented on #11
Thank you @sn0wil 🎉
Looks great.

Congratulations on your first :octocat: pull request. I hope it is the first of many contributions to open source.

[2018-02-08 21:43] #11 closed

[2018-02-09 20:09] sanketsingh24 commented on #35
I would like to work on this issue as my first PR :) Can I ?

[2018-02-09 20:50] griffobeid commented on #35
Of course, @sanketsingh24, have at it!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-09 21:24] amit3992 commented on #27
Thank you! I had a great time and the supporting documents helped a lot. I would love to contribute more.

[2018-02-09 21:45] sn0wil commented on #11
Thanks @TalAter !

[2018-02-10 13:12] sanketsingh24 commented on #35
Please correct me if I am wrong. The payload here should have four fields- hash, from, to and blockNumber.

And I am getting following error when executing `npm install -g dav-cli`

[code]

[2018-02-10 14:23] griffobeid commented on #35
Have you tried running a `git clone` as well? See if that can complete successfully. I tried uninstalling dav-cli and reinstalling on my machine and it worked fine.

As for your other question, I think you are on the right track but I'm going to ask @TalAter to comment just to be sure.

[2018-02-10 20:36] sanketsingh24 commented on #35
@griffobeid Is there any specific data type or which hash, from, to and blockNumber need to belong? I think it will be better If I get the test values for them.

And for other problem, git clone is running perfectly for `dav-cli` but giving same error while installing. Maybe a problem with frozeman's repo or something else - [Link to issue](https://github.com/ethereum/web3.js/issues/1211)

[2018-02-11 19:15] #35 closed

[2018-02-11 19:18] TalAter commented on #27
We would love that 👍

[2018-02-11 20:10] TalAter commented on #20
@THEozmic Would you like to set up a similar structure for testing in one of our flagship projects - [missions](https://github.com/DAVFoundation/missions)?

This is a really cool one that we are now in the process of connecting to real drones for deliveries, to an autonomous boat, and to robots.

[2018-02-11 20:15] THEozmic commented on #20
@TalAter Sure, I'd love to! I took a bit of a break this past weekend and will continue contributing this week. Expect that PR soon.
PS: I was already checking out missions and it looks amazing! The setup was pretty straightforward.

[2018-02-11 20:56] TalAter commented on #20
@THEozmic Awesome! I created an issue for it: https://github.com/DAVFoundation/missions/issues/71

[2018-02-13 08:19] THEozmic commented on #29
@griffobeid and @TalAter, here's what the block currently looks like. I need to know if I'm even displaying the right things:

![image](https://user-images.githubusercontent.com/15184445/36139726-fdb06fda-109e-11e8-9238-1c42cd5aaa3b.png)

Please, bear with me, it's my second time working with anything that has to do with blockchain. The first was creating bitcoin wallets.

And this is how I handle

[2018-02-13 09:39] TalAter commented on #29
The image looks good.
I can check out the code when you send the pull request, better than seeing something out of context.

[2018-02-17 18:11] cg-cnu opened #41 "Extract maxEventsCount from blockchain.js to config (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-17 18:14] cg-cnu opened #42 "Extract maxTransactionsCount from blockchain.js to config"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-17 18:20] cg-cnu opened #43 "Extract maxBlockCount from blockchain.js to config (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-17 18:23] cg-cnu opened #44 "Extract url from blockchain.js to config (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-18 08:13] bicep commented on #42
Definitely down to give this a shot :)

[2018-02-18 08:13] bicep commented on #42
Definitely down to give this a shot!

[2018-02-18 08:52] cg-cnu commented on #42
Hey @bicep Sure thing! Go ahead! 👍

[2018-02-18 09:03] cg-cnu opened #52 "change for loop in getAccounts (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-18 09:07] cg-cnu opened #53 "change for loop in getEvents (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-18 18:50] cg-cnu commented on #53
Claimed by @combisloic

[2018-02-19 00:33] matepak commented on #52
Hi,
I would like to take it.

[2018-02-19 09:12] seyi-adeleke commented on #41
Hi, i'd like to work on this

[2018-02-19 15:22] #52 closed

[2018-02-19 15:23] cg-cnu commented on #52
Congratulations @mateuszs1 on your first opensource contribution! 👏 We hope this is the starting of many 🙂  Feel free to join our [gitter channel] (https://gitter.im/DAVFoundation/DAV-Contributors/)

[2018-02-19 15:28] #41 closed

[2018-02-19 15:29] cg-cnu commented on #41
Congratulations @seyi-adeleke on your contribution to opensource! 👏  Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out about more opportunities to contribute to opensource and DAV. 🙂

[2018-02-19 15:35] cg-cnu commented on #44
claimed by @roshane

[2018-02-20 01:11] rkimmi commented on #43
can i claim this?

[2018-02-20 08:21] bicep commented on #42
Awesome, I'll submit something by the weekend :)

[2018-02-20 22:02] griffobeid opened #61 "Modify the SearchForm component so that it stores input in the local state"
Thank you for your help ❤️

## What is this project?
DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of ope

[2018-02-21 02:42] ghost commented on #61
Hi, I'd like to work on this (:

[2018-02-21 13:44] griffobeid commented on #61
For sure, @adiconstante. Thanks!

[2018-02-21 14:26] #29 closed

[2018-02-23 05:44] #44 closed

[2018-02-23 06:12] cg-cnu commented on #44
Thanks for your work @roshane Congratulations on your contribution to opensource. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)

[2018-02-23 07:10] cg-cnu opened #62 "update favicon to new logo (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-23 07:22] cg-cnu opened #63 "Improve decimal accuracy of ETH displayed in Xplore (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-23 08:28] cg-cnu opened #65 "download and load bootstrap locally (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-23 08:30] cg-cnu opened #66 "download and load font-awesome locally ( first-timers-only )"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-23 08:34] cg-cnu opened #67 "download and load google fonts locally (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-23 09:24] ghost commented on #61
Here's what I have for this fix but there are two issues.
1. The value of the field won't change
2. Field loses focus after the first onChange so state only stores the last letter entered

  constructor(props){
    super(props);
    this.state =  {value: ''};
    this.handleChange = this.handleChange.bind(this);
  }
  handleChange(event){
    this.setState({value: event.target.value});
    return;

[2018-02-23 12:42] #53 closed

[2018-02-23 12:43] cg-cnu commented on #53
Congratulations @combisloic on your contribution to opensource 👏 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) to find out more opportunities to contribute 🙂

[2018-02-23 21:30] TalAter commented on #61
@adiconstante Did you set the value of the form field to what is in the state?
Check this link out for help: https://reactjs.org/docs/forms.html

[2018-02-23 22:07] mariuslazar93 commented on #65
Hey! I would like to help with this issue :) I have 2 questions though:

1. Does this issue include changing the path inside the `index.html` to point to the local version once it's downloaded?
2. Bootstrap is coming out of the box with `glyphicon` font, which also has to be downloaded locally. But I've seen you are using `font-awesome` too, so my question would be if you want both of them or just

[2018-02-24 01:13] ghost commented on #61
I did. I have it like so
`<Field name="search" placeholder="Search by Tx Hash / Block # / Address" component="input" type="text" onChange={this.handleChange} value={this.state.value} />`

[2018-02-24 01:13] adiconstante commented on #61
<Field name="search" placeholder="Search by Tx Hash / Block # / Address" component="input" type="text" onChange={this.handleChange} value={this.state.value} />

[2018-02-24 08:58] cg-cnu commented on #65
Hey @mariuslazar93 Thanks for your help!

1. Yes, you need to change the path in `index.html` as well
2. I would suggest keep the `glyphicon` fonts since we are still in the early development stage. @TalAter your thoughts ?

[2018-02-24 09:33] cg-cnu opened #69 "Add screenshot of Xplore to readme.md (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-02-24 09:47] cg-cnu opened #70 "clean up `(` around single function parameters"
## Expected Behavior

Arrow functions don't need to have a '(' around the parameters if its a single parameter.

## Current Behavior

Right now, some places we have '(', some places we don't have.

## Possible Solution

We can do a refactor to follow either of the style. @TalAter Let me know your thoughts! Can create few first timers with that!

[2018-02-24 10:16] TalAter commented on #65
Yeah, let's just keep it for now... the extra file size is a relatively minor concern as this isn't being served over the Internet.

[2018-02-24 10:27] TalAter commented on #70
If there are still places where this is an issue, go ahead. I believe I fixed most earlier today.

[2018-02-24 10:27] #70 closed

[2018-02-24 10:31] TalAter commented on #61
@adiconstante it is a bit hard to help you solve this without seeing the entire code. Can you either place the entire code you added in a gist, or send a pull request (being very clear in the description that it isn't ready to be merged yet)
@griffobeid Any other suggestions?

[2018-02-24 10:44] cg-cnu opened #73 "🐛 truncate function in utils.js ignores the last character"
Thank you for your help ❤️

## What is this project?
DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of ope

[2018-02-24 11:37] mtochi commented on #67
I would like to do it!

[2018-02-24 11:37] mtochi commented on #66
I would like to do it!

[2018-02-24 12:46] griffobeid commented on #61
Looking into this now

[2018-02-24 12:59] griffobeid commented on #61
Are we set on using redux-form here, @TalAter? I fixed the problem by changing it to a basic input like so:
`<input name="search" type="text" placeholder="Search by Tx Hash / Block # / Address" onChange={this.handleChange} value={this.state.value} />`

[2018-02-24 13:19] mtochi commented on #62
I would like to claim this! :)

[2018-02-24 23:41] griffobeid opened #78 "Display latest block number in Last Block box in the topBlocks"
Thank you for your help ❤️

## What is this project?
DAV (Decentralized Autonomous Vehicles) is a new non-profit foundation working to build an open-source infrastructure for autonomous vehicles (cars, drones, trucks, robots, and all the service providers around them) to communicate and transact with each other over blockchain.

As an organization that believes in building a large community of ope

[2018-02-25 03:14] cg-cnu commented on #67
Hey @mtochi Sure thing Go ahead! 👍

[2018-02-25 03:29] cg-cnu commented on #67
Hey @mtochi I just saw that you have already claimed https://github.com/DAVFoundation/xplore/issues/66 We would like to give this to more first-timers

We create these *first-timer-only* issues as a way for people who have never contributed to open-source to try their first pull request.

As you can imagine, it actually takes a lot more time to write these issues than it would have for us to simpl

[2018-02-25 03:36] cg-cnu commented on #62
# This is still available for first timers

@mtochi I have already assigned https://github.com/DAVFoundation/xplore/issues/66 to you. Thanks!

[2018-02-25 05:09] ryan-barrett commented on #73
Hi, I'd like to work on this if I can.

[2018-02-25 08:31] mtochi commented on #62
@cg-cnu I'm sorry :/  and Thank you!

[2018-02-25 10:23] TalAter commented on #61
@griffobeid I'm ok with getting rid of redux-form completely (including in package.json)

[2018-02-25 15:51] durgeshra commented on #69
I wish to contribute to this issue. :-)

[2018-02-26 01:21] durgeshra commented on #69
I followed instructions in contributing.md, but I am unable to install dav-cli. Is there any other way to open the application to take screenshot?

[2018-02-26 01:22] durgeshra commented on #63
Hi! Would like to give it a shot!

[2018-02-26 01:50] cg-cnu commented on #69
Hey @durgeshra Thanks for your interest in working on this issue. I would be happy to help! Would you mind sharing the exact error you got while running `dav-cli` 🙂

[2018-02-26 01:54] cg-cnu commented on #67
# This issue is still available for First-Timers

[2018-02-26 01:58] cg-cnu commented on #63
Hey @durgeshra,
We create these *first-timer-only* issues as a way for people who have never contributed to open-source to try their first pull request.

As you can imagine, it actually takes a lot more time to write these issues than it would have for us to simply solve them ourselves, but we do that as a way to give as many new people a chance to get involved with open source for the first time.

[2018-02-26 02:01] #42 closed

[2018-02-26 02:02] cg-cnu commented on #42
Thanks for your awesome work @bicep 👏

[2018-02-26 02:05] cg-cnu commented on #73
Hey @ryan-barrett Sure thing, go ahead 👍

[2018-02-26 02:18] durgeshra commented on #69
$ dav-cli -s
/usr/local/lib/node_modules/dav-cli/src/index.js:5
const { startTestnet } = require('./controllers/blockchain');
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:417:10)
    at Module.load (module.js:344:32)
    at Function.Module._load (module.js:301:12)

[2018-02-26 02:19] durgeshra commented on #63
Yeah sure! Sorry for that. :-)

[2018-02-26 02:31] cg-cnu commented on #43
For reasons mentioned here... https://github.com/DAVFoundation/xplore/pull/60#issuecomment-368372763 closing this one!

[2018-02-26 02:31] #43 closed

[2018-02-26 03:21] ghost commented on #61
Created PR with a partial fix. <Field /> still needs to be changed to <input /> and redux-form needs to be removed completely if you guys will still proceed with that (: @TalAter @griffobeid

[2018-02-26 04:58] griffobeid commented on #61
@adiconstante I think it would be better to remove the dependency and switch to a basic input.

[2018-02-26 08:03] TalAter commented on #61
Sounds good. Please send a PR with both changes

[2018-02-26 11:06] bicep commented on #78
I just did this. Let me send my PR in :)

[2018-02-26 11:18] bicep opened #82 "TopBlocks is extremely confusing and should be renamed."
xplore is a block chain explorer, but the TopBlocks don't refer to a block on top of the blockchain- they refer to the the header row of information on the web app. This is extremely confusing and should be renamed. I am proposing something like HeaderBars or HeaderSections or something like that.

@TalAter @griffobeid What do you guys think?

[2018-02-26 14:26] mohinderps commented on #69
Hi @durgeshra, I followed the steps written in CONTRIBUTING.md and actually got everything up and running. I did not get this error.

[2018-02-26 15:24] mohinderps commented on #67
Hi @cg-cnu, Can I take this issue?

[2018-02-27 00:50] PAnd0 commented on #63
I'll try it if that's ok.

[2018-02-27 14:46] #61 closed

[2018-02-27 16:13] cg-cnu commented on #67
Please go ahead @mohinderps 🙂

[2018-02-27 16:18] stevenpeniche commented on #62
I would like to claim this.

[2018-02-27 16:30] nieznamjs commented on #63
Hi, I would like to do that :D Can you tell me how much time I have to do this?

[2018-02-27 16:33] cg-cnu commented on #63
Hey @nieznamjs Thanks for your enthusiasm on fixing this issue. @PAnd0 already claimed it. You can pick up other issues [here](https://github.com/search?q=org%3ADAVFoundation+is%3Aissue+is%3Aopen+label%3Afirst-timers-only)

[2018-02-27 16:35] cg-cnu commented on #63
Hey @PAnd0 are you planning to do the pr ? And can you remove package.json from the commit 🙂

[2018-02-27 16:40] cg-cnu commented on #62
Hey @stevenpeniche Sure thing! 👍

[2018-02-27 16:43] cg-cnu commented on #69
@durgeshra I haven't faced this issue... can you please share your node version and os, so that we can try debugging.

[2018-02-27 16:45] nieznamjs commented on #63
@cg-cnu Oh, ok - I understand :D So I'm waiting for new "first-timers-only" issues ;)

[2018-02-27 18:00] stevenpeniche commented on #62
I've submitted a PR. Please let me know if there's anything that needs to be revisited.

[2018-02-27 18:21] #62 closed

[2018-02-27 18:23] stevenpeniche commented on #62
First merged pull request. Thank you!

[2018-02-27 18:26] cg-cnu commented on #62
Congratulations @stevenpeniche 🍾 👏 on your first pr 😄 Hope you had fun and learned a few on the way! Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) and pick up more issues 🙂

[2018-02-27 18:42] #73 closed

[2018-02-27 18:43] cg-cnu commented on #73
Awesome work @ryan-barrett 👏 Thanks!

[2018-02-27 21:39] TalAter commented on #82
Good idea.

Go for it Roger!

[2018-02-28 20:25] mariuslazar93 commented on #65
Hi guys,

Would be good to have some installation guides for the project when run on Windows. I had encountered quite a few problems before I could actually run the project.

The main issue was around `node-gyp` package. In the end I found these [NodeJS Guidelines for Windows](https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#environment-setup-and-configuration) tha

[2018-03-01 13:46] #65 closed

[2018-03-01 16:27] cg-cnu commented on #65
Hey @mariuslazar93 Thanks for your awesome work 👏 Sorry for the trouble on setting up the project on windows. Even I have faced few issues initially but later I moved on to mac. So, didn't have a breakdown of things to do.

Would you mind jotting down all the steps you followed to get it working and add them to contributing.md ? That would be of great help to us because most of the core team is on

[2018-03-01 18:20] cg-cnu opened #88 "refactor splice function (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-01 18:27] cg-cnu opened #89 "refactor balance variable name (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-01 18:43] cg-cnu opened #90 "change background color (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-01 19:06] aprTaylor commented on #90
Hello, I have not contributed to an open source project before and I would like to handle this task.

[2018-03-02 00:45] mariuslazar93 commented on #65
Hey @cg-cnu No worries! I have made the update on #91 PR :)

[2018-03-02 03:01] cg-cnu commented on #90
Hey @agray5 go ahead 👍

[2018-03-02 03:12] cg-cnu opened #92 "change search button color (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-02 03:19] cg-cnu opened #93 "change background of last block component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-02 03:27] whitedann commented on #92
Hello. I would like to claim this issue, if there is no one else.

[2018-03-02 03:27] cg-cnu commented on #92
Hey @whitedann Sure thing, go ahead! 👍

[2018-03-02 04:26] cg-cnu opened #95 "change background color of RPC Server component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-02 04:27] cg-cnu opened #96 "change background color of Transactions component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-02 04:28] cg-cnu opened #97 "change background color of Mining Status (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-02 04:33] drkwjhnsn commented on #93
Looks simple enough. I'll put in a PR shortly, I suspect most of the time will be spent complying with style and contribution guidelines 😅

[2018-03-02 04:34] cg-cnu commented on #93
ha ha! Sure @drkwjhnsn Give it a shot! 😄

[2018-03-02 06:32] drkwjhnsn commented on #93
There were a few more redundancies than I expected. I thought maybe some of the stylesheets were generated by webpack, but I couldn't prove that so I just made the changes to all of them.

[2018-03-02 06:49] drkwjhnsn commented on #93
Looks like the title threw me off, I assumed this issue was for all child components of the topblock. Looking more closely I see this is only for the last block component. Closing and submitting new PR.

[2018-03-02 11:46] GabriMcNab commented on #95
Hi,
I would like to contribute to this project!
ps: it's my very first time...

[2018-03-02 18:38] nieznamjs commented on #88
I can do it ;)

[2018-03-02 19:41] kelvinabella commented on #89
Hello. It's my first time to contribute to open source. I would like to do this task as a start.

[2018-03-02 19:42] cg-cnu commented on #89
Go ahead @kelvinabella 👍

[2018-03-02 19:42] cg-cnu commented on #88
Go ahead @nieznamjs 👍

[2018-03-02 19:44] cg-cnu commented on #93
Hey @drkwjhnsn Sorry for the confusion. Yes, its only last block, I accidentally wrote as topblock.

[2018-03-02 20:19] kelvinabella commented on #89
Thanks! I've updated the file.

[2018-03-02 20:46] edxds commented on #95
I would like to do this!

[2018-03-02 23:59] nieznamjs commented on #88
Hi, can you tell me how to run test? Or I don't need to run them?

[2018-03-03 00:19] nieznamjs commented on #88
Ok, I found it. But I can't install packages because of some error. Here is logs. Can you help me?
[2018-03-03T00_18_03_451Z-debug.log](https://github.com/DAVFoundation/xplore/files/1776902/2018-03-03T00_18_03_451Z-debug.log)

[2018-03-03 06:34] cg-cnu commented on #88
Hey @nieznamjs can you try these instructions...

### Windows installation fix

If you are running this project on Windows and your `npm install` failed because of the `node-gyp` package, you will need to install the following tools:
- [x] Install [Python 2.7.3](https://www.python.org/ftp/python/2.7.3/python-2.7.3.amd64.msi). Do not install a newer version (>= 3.0) because those are not supported

[2018-03-03 06:36] #90 closed

[2018-03-03 06:37] cg-cnu commented on #90
Congratulations @agray5 on your first opensource contribution 🍾 🎆 Hope this is the beginning of many more. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to find out about more opportunities to contribute 🙂

[2018-03-03 06:41] #89 closed

[2018-03-03 06:42] cg-cnu commented on #89
Congratulations @kelvinabella on your first opensource contribution 👏 Hope you had fun and learned a few things working on this pull request. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/)

[2018-03-03 06:43] cg-cnu commented on #95
Go ahead @edxds 👍

[2018-03-03 06:53] #93 closed

[2018-03-03 06:55] cg-cnu commented on #93
Thanks for your work @drkwjhnsn Hope this was simple enough and straight forward as a first timer issue. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) to meet more open source DAV contributors

[2018-03-03 11:07] kelvinabella commented on #89
Yes. Thank you! 👍

[2018-03-03 17:31] #88 closed

[2018-03-03 17:33] cg-cnu commented on #88
Congratulastions @nieznamjs on your first opensource contribution 👏 Hope you had fun doing this contribution and learned few things along the way! Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) for more contribution opportunities. Thanks! 😄

[2018-03-04 15:34] ghost commented on #96
I would like that

[2018-03-04 15:34] ghost commented on #97
i would like that

[2018-03-05 10:16] #82 closed

[2018-03-05 18:20] tharun323 commented on #95
I would like to do this !

[2018-03-05 18:21] tharun323 commented on #92
i would love to do this !

[2018-03-05 18:22] tharun323 commented on #69
i would like to work on this !

[2018-03-06 03:06] tharun323 commented on #67
Hey srinivas garu can i do this !:)

[2018-03-06 15:42] cg-cnu commented on #63
Hey @PAnd0 can you please finish off the pending PR.

[2018-03-06 15:56] #96 closed

[2018-03-06 15:57] cg-cnu commented on #96
Thanks for your work @gabimoncha 👍

[2018-03-06 15:57] #97 closed

[2018-03-06 15:58] cg-cnu commented on #97
Thanks @gabimoncha 🙂

[2018-03-06 16:01] #92 closed

[2018-03-06 16:02] cg-cnu commented on #92
Congratulations @whitedann on your first contribution to opensource 🎆 👏 We hope that this is the starting of many more awesome contributions. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors/) 😄

[2018-03-06 17:55] cg-cnu commented on #69
Hey @mohinderps are you still interested in working on this one.

[2018-03-06 18:01] cg-cnu commented on #67
Hey @tharun323 This is already claimed by @mohinderps and he is working on it. Lets give him a chance. Thanks! 🙂

[2018-03-07 04:35] mohinderps commented on #67
Hey @cg-cnu , I have already submitted the PR for this issue.

[2018-03-07 04:38] mohinderps commented on #69
Yes @cg-cnu , I can work on this. But I have already submitted the PR for issue 67. So am I eligible to work on this?

[2018-03-08 07:13] BingZL1983 commented on #95
I would like to do this .

[2018-03-08 07:59] BingZL1983 commented on #95
Hi @cg-cnu

I have cloned the repository. My question for you now is how do I open the app in windows computer to see the initial image of the app?

Thank you very much.

[2018-03-10 16:32] cg-cnu commented on #95
Hey @BIngZL1983 and @tharun323 this is already claimed by @edxds Lets give him a chance to work on it.

@BIngZL1983 For getting xplore up and running on your machine you can simply follow the instructions mentioned in [contributing.md](https://github.com/DAVFoundation/xplore/blob/master/CONTRIBUTING.md).

[2018-03-10 17:20] cg-cnu commented on #66
<h1 align='center'> This issue is still available </h1>

[2018-03-10 17:20] cg-cnu commented on #69
Hey @tharun323 would you like to give this a shot! 🙂

[2018-03-10 19:09] jaskiran-chhokar commented on #66
Can I work on this issue?

[2018-03-11 02:38] cg-cnu commented on #66
Hey @jaskiran-chhokar Go ahead! 👍

[2018-03-11 02:44] cg-cnu commented on #63
<h1 align='center'>This issue is still available</h1>

[2018-03-11 02:52] cg-cnu opened #110 "rename logo to xplore-logo"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-11 02:59] cg-cnu opened #111 "extract locale string to config"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-11 03:08] cg-cnu opened #112 "format input search component"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-11 05:59] tata81 commented on #111
I'll like to work on this issue.

[2018-03-11 06:04] sreeharivallu commented on #112
I have started fixing this.

[2018-03-11 06:08] vinaypaspula commented on #63
i'm working on it

[2018-03-11 06:08] Saiteja31597 commented on #110
i am working on this

[2018-03-11 06:10] nikhil-akarapu commented on #63
i am getting to it

[2018-03-11 06:51] #110 closed

[2018-03-11 06:52] cg-cnu commented on #110
Hey @Saiteja31597 Congratulations on your first open source contribution 👏 😄

[2018-03-11 06:54] cg-cnu commented on #63
Hey @Vinaykumarpaspula Congratulations on your first contribution to open source 👏 😄

[2018-03-11 07:40] cg-cnu commented on #111
Congratulations @tata81 on your first open source contribution 👏 🙂

[2018-03-11 07:40] #111 closed

[2018-03-11 07:48] #112 closed

[2018-03-11 07:48] cg-cnu commented on #112
Congratulatiosn @sreeharivallu on your first contribution to open source 👏 🙂

[2018-03-11 13:20] #63 closed

[2018-03-13 09:50] tata81 commented on #66
Hi @cg-cnu  Is this issue is still open ?

[2018-03-16 16:57] mrcolo commented on #69
I would like to work on this too!

[2018-03-16 16:57] mrcolo commented on #69
If this issue is already taken, is there anything else I can help y'all with?

[2018-03-17 03:28] jaskiran-chhokar commented on #66
Hey @cg-cnu, I've sent a pull request for this issue.

[2018-03-17 03:29] cg-cnu commented on #69
Hey @mrcolo go ahead with the issue 👍

[2018-03-17 03:31] cg-cnu commented on #66
Hey @jaskiran-chhokar sorry for delay! I requested for review and it would be merged soon. Thanks for your work 🙂

[2018-03-18 23:08] mrcolo commented on #69
Alright! On it!

[2018-03-24 14:17] bicep opened #119 "Rename getLatestBlock to getLatestBlockNumber in blockchain.js"
In blockchain.js, the function named `getLatestBlock` should be renamed to `getLatestBlockNumber` because it really just gets the latest block number.

Also in this function, the promise resolution (in the then block) returns the block number, but the block number isn't actually returned by the function itself. So the function doesn't actually return the promise (as it is supposed to)

Lastly we s

[2018-03-24 14:26] bicep opened #120 "Add code that will display the latest transaction in the Header Row"
![screen shot 2018-03-24 at 5 24 37 pm](https://user-images.githubusercontent.com/11747211/37865089-79f519e4-2f88-11e8-90fc-43524522d57b.png)

The latest transaction is not currently being displayed.

In blockchain.js, write a function that gets the latest transaction from the blockchain and connect that to the HeaderRow component.

[2018-03-26 12:38] DavNej commented on #66
Hi @cg-cnu ! is this issue still open and up for grabs? I'd like to work on it :)

[2018-03-30 06:07] cg-cnu commented on #95
Hey guys! This issue is no longer valid as we have changed the design of the app according to the new color scheme of DAV. Thanks for your work on this one. Please feel free to pickup new issues 🙂

[2018-03-30 06:07] #95 closed

[2018-03-30 06:25] cg-cnu commented on #69
Hey guys! We have changed the design of the app from what's shown in the screenshot. So, this issue is no longer valid. Am sorry, I have to close this one for maintaining clarity in the issues. We will be creating more first-timers soon. Please feel free to pickup them once they are available. Thanks for your work on this one. 🙂

[2018-03-30 06:25] #69 closed

[2018-03-30 06:32] cg-cnu opened #123 "change the background color of search button (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 06:37] cg-cnu opened #124 "change border color of search input box (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 06:38] cg-cnu opened #125 "change font color of DAV Block Explorer (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 06:57] vipulmahadik commented on #124
I would like to do it! :)

[2018-03-30 06:57] cg-cnu commented on #124
Go ahead @vipulmahadik 👍

[2018-03-30 07:10] cg-cnu opened #126 "redesign last block component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 07:32] cg-cnu opened #127 "redesign rpc server component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 07:37] cg-cnu opened #129 "redesign transactions component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 07:39] vipulmahadik commented on #123
I can work on this as well :)

[2018-03-30 07:44] cg-cnu opened #130 "redesign mining status component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-03-30 08:11] cg-cnu commented on #123
Hey @vipulmahadik Thanks for your help!
We create this first timer issues to help new contributors take their first steps in to open source with easy to solve issues. We feel creating this kind of issues will help them get used to the process of git, github and creating PR. Of course we can see that in the enthusiasm it gave you to contribute more to opensource. Lets leave this issue for some othe

[2018-03-30 08:13] #124 closed

[2018-03-30 08:16] cg-cnu commented on #124
That's perfect @vipulmahadik 👍

Congratulations on your first contribution to open source 👏 🎆 🍾

![image](https://user-images.githubusercontent.com/2767425/38130392-8da70410-3420-11e8-85c5-b795633347bd.png)

Hope you had fun and learned a few things in the process. We hope this is the starting of many more contributions. 😄  Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV

[2018-03-30 08:26] vipulmahadik commented on #123
Sure, I can work on #129 !

[2018-03-30 08:27] vipulmahadik commented on #129
Will work on this.

[2018-03-30 09:17] #129 closed

[2018-03-30 09:18] cg-cnu commented on #129
Amazing work @vipulmahadik 💯 Thanks so much for the help!
What's next !! 😄

[2018-03-30 09:36] Roginkoshy commented on #123
I would like to work on this

[2018-03-30 09:36] cg-cnu commented on #123
Go ahead @Roginkoshy 👍

[2018-03-30 12:14] ponterik commented on #130
I would like to do this :)

[2018-03-30 12:28] cg-cnu commented on #130
Go ahead !

[2018-03-30 16:06] ajaythomas123 commented on #126
Hi, I'd like to work on this issue.

[2018-03-30 17:45] cg-cnu commented on #126
Hey @ajaythomas123 go ahead 👍

[2018-03-30 19:12] Sabihashaik commented on #127
Hi! I'd like to work on this.

[2018-03-30 19:12] cg-cnu commented on #127
Go ahead @Sabihashaik 👍

[2018-03-30 19:34] #126 closed

[2018-03-30 19:36] cg-cnu commented on #126
Congratulations @ajaythomas123 on your first open source contribution 👏 🍾 Hope you had fun and learned few things in the process. We hope to see you contributing more in the future. Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) 😄

[2018-03-30 19:38] ajaythomas123 commented on #126
Thanks for the opportunity! :smile:

[2018-03-30 20:33] cg-cnu commented on #127
Amazing work @Sabihashaik 👏 and congratulations on your first contribution to open source. Hope you had fun making this pr and learned few things in the process. We would like to see you contributing more to open source in the future 😄 Feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors)!

[2018-03-30 20:40] vipulmahadik commented on #129
Open to contribute on little more complex stuff 😉

[2018-03-30 20:52] Sabihashaik commented on #127
Thank you! Learnt a few things and looking forward to contributing more in the future! 😃

[2018-03-31 14:32] AnukrityJain commented on #123
I would want to try this

[2018-03-31 14:35] cg-cnu commented on #123
Hey @AnukrityJain this is already claimed by @Roginkoshy Why don't you try https://github.com/DAVFoundation/xplore/issues/125

[2018-03-31 14:36] cg-cnu commented on #125
claimed by @AnukrityJain

[2018-03-31 16:05] abhi6998 commented on #66
@cg-cnu is this issue still open? i would like to work on it

[2018-03-31 17:47] shobhitjagga commented on #66
Hey, I would like to work on the issue.

[2018-04-01 05:25] cg-cnu opened #138 "change the color of dot in blocks component (first-timers-only)"
# first-timers-only

This issue is tagged :octocat: **first-timers-only**. It is only for people who have never contributed to open source before and are looking for an easy way take their first steps.

Consider this as your chance to dip your toe into the world of open-source and get some bragging rights for writing code that makes drones fly, cars find charging stations, helps people and goods m

[2018-04-01 05:30] cg-cnu commented on #138
Hey @DavNej, would you like to work on this issue ?

[2018-04-01 05:30] abhi6998 commented on #138
i would like to do it :)

[2018-04-01 05:31] cg-cnu commented on #138
ha ha... Nice catch  @abhi6998 ! Go ahead 👍 I will create one more issue for @DavNej!

[2018-04-01 05:33] abhi6998 commented on #138
thanks ;) was waiting for contributing. I will figure out and try solving it :p

[2018-04-01 08:16] AnukrityJain commented on #125
trying to figure it out

[2018-04-01 09:03] #138 closed

[2018-04-01 09:05] cg-cnu commented on #138
Awesome work @abhi6998 👏  Congratulations on your first contribution to open source 🍾 🎆 Hope you had fun and learned few things in the process. We hope this is the starting of many more contributions. 😄

[2018-04-01 09:07] abhi6998 commented on #138
Thanks for guiding me all the way. @cg-cnu am for sure looking out for contributing more :)

[2018-04-01 14:03] insanjati commented on #130
Hey, is this task still available?

[2018-04-01 17:41] #125 closed

[2018-04-01 17:43] cg-cnu commented on #125
Congratulations on your first open source contribution @AnukrityJain 👏 We hope this is the starting of many! Please feel free to join our [gitter channel](https://gitter.im/DAVFoundation/DAV-Contributors) for contributors 🙂

[2018-04-10 09:32] #123 closed

[2018-04-10 09:34] cg-cnu commented on #123
Congratulations @Roginkoshy on your first open source contribution 👏 🍾 Hope you had fun and learned a few things in the process. Hope to see ya around. 😄

[2018-04-10 09:36] cg-cnu commented on #130
Hey @ponterik Are you still interested in this one ?

[2018-04-10 09:37] #127 closed

[2018-04-10 09:47] cg-cnu commented on #67
Hey @mohinderps Sorry, we have changed the set of fonts we are using for this app and this is no longer valid. Am closing this for clarity. Sorry for the trouble. Please feel free to pickup more issues in the future 🙂

[2018-04-10 09:47] #67 closed

[2018-04-17 23:36] KirwanElmsly commented on #130
If this task is still available, I'm happy to work on it.

[2018-04-25 06:39] insanjati commented on #130
Pardon me @cg-cnu, is this task still available for now? Or I better give up :smile:

[2018-06-07 17:27] eyalmendel commented on #130
Hi! Is this issue taking care of or is it still up for grabs?

[2018-06-17 08:16] TalAter commented on #130
@eyalmendel
Are you still interested in this one?

P.S. - My apologies for the slow response @cg-cnu injured his hand.

[2018-08-13 19:41] arshadkazmi42 commented on #130
@TalAter Is this still open? I can take this up.

[2018-08-14 04:49] srfrnk commented on #130
Hi @arshadkazmi42 - Go ahead! It's Yours.

[2018-08-14 05:08] arshadkazmi42 commented on #130
Cool. Will start working on it 👍

[2018-08-14 17:42] arshadkazmi42 commented on #130
Created PR [#145](https://github.com/DAVFoundation/xplore/pull/145)

[2018-10-04 02:39] imdoingotherthings commented on #130
Is this still up for grabs?

[2018-12-07 19:54] debragail commented on #130
@imdoingotherthings It looks like it was merged already but there are other first-timer issues!

Be sure to join our Gitter:  https://gitter.im/DAVFoundation/DAV-Contributors

[2018-12-07 19:55] debragail commented on #130
@TalAter please close issue

[2018-12-07 19:56] debragail commented on #130
@TalAter I can confirm this was merged, can you close so we can get more new first-timer issues in here?  Thanks!

[2018-12-08 18:59] #130 closed

[2018-12-16 05:49] debragail opened #147 "Make RPC Server link open in new window"
Redesigned RPC Server header section displays the localhost but it is not clickable.

## Expected Behavior

<img width="201" alt="screen shot 2018-12-15 at 21 45 45" src="https://user-images.githubusercontent.com/552529/50050541-07b59f00-00b3-11e9-8e0a-bd3831d13e61.png">

## Current Behavior

local host is displayed but not clickable

## Possible Solution

currently just an <h3> tag but could make

[2018-12-16 06:15] debragail opened #148 "create Results container"
Search results needs a results page.  Also clickable links in the headerSection like hash address in Transactions needs a way to be displayed.  suggesting a Results container that displays above Blocks and Account and below HeaderSection.

## Expected Behavior

Search query returns results in Results container.
Other clickable links can return results in container as needed.

## Current Behavior
T

[2018-12-16 06:22] debragail commented on #148
![results](https://user-images.githubusercontent.com/552529/50050704-e3a88c80-00b7-11e9-8ccd-71bbf5812258.png)

[2018-12-16 06:57] debragail opened #149 "Refactor HeaderSections"
Currently HeaderSection includes:

Last Block
RPC Server
Transactions
Mining Status

../src/reducers/headerSections.js

<img width="280" alt="screen shot 2018-12-15 at 22 52 32" src="https://user-images.githubusercontent.com/552529/50050905-4439c880-00bc-11e9-8fa0-48be4260b860.png">

It might make sense to handle this container differently.

## Expected Behavior

## Current Behavior

The state for

[2018-12-16 07:03] debragail opened #150 "Fix icons to be responsive on mobile"
When viewing the site on mobile the icons in HeaderSections do not resize.

## Expected Behavior

Icons should fit within the box and scale based on mobile width.

## Current Behavior

They do not resize and are outside the container.

## Possible Solution
create rule for mobile width.

## Steps to Reproduce (for bugs)

<img width="439" alt="screen shot 2018-12-15 at 22 59 11" src="https://user-im

[2018-12-16 07:06] debragail opened #151 "Truncate address on mobile"
On mobile the address needs to be truncated in order to fit.

## Expected Behavior

The address should look presentable, readable, and clickable.

## Current Behavior
Address overlaps with other text

## Possible Solution
Truncate when width is mobile

## Steps to Reproduce (for bugs)
<img width="442" alt="screen shot 2018-12-15 at 22 59 20" src="https://user-images.githubusercontent.com/552529/50

[2018-12-16 08:16] TalAter commented on #148
Let's go with a simpler solution as described in https://github.com/DAVFoundation/DIPs/issues/3

[2018-12-16 08:16] #148 closed

[2018-12-16 08:47] TalAter commented on #151
`xplore` is a block explorer for blockchains that you run locally on your machine.

So when you're developing smart contracts, or developing with `dav-js`, and testing against a local Ethereum node running on your machine you have all the conveniences of a block explorer... this makes the scenario of someone running xplore on a mobile phone quite unlikely.

[2018-12-16 08:47] #151 closed

[2018-12-16 08:57] TalAter commented on #150
We don't really need mobile support. But it still might be nice to make these icons responsive to support various screens.

[2018-12-16 13:02] #120 closed

[2018-12-18 01:24] debragail commented on #66
@TalAter can be closed

[2018-12-18 08:20] #66 closed

[2018-12-18 09:49] bicep commented on #149
Hello!

My plan of attack: 4 different reducers in the reducers folder and then 4 different components within the HeaderSections.jsx file.

Does this make sense?

Actually I thought the original writer of the code wanted to just put it all together so that each of the sections could be iterated/mapped through. Am I right to say that you are requesting this change now because each of the header sec

[2018-12-18 15:56] TalAter commented on #149
I also think it makes sense to refactor it like that... this attempt at over generalization could be simplified simply by having 4 components - and if there are similarities between all of them, we can simply have all 4 extend another component.

@bicep would you like to take this one after you handle the other task?

[2018-12-21 20:08] debragail commented on #149
Also take into consideration that for search results page we will need a page to return for each section.

[2018-12-22 00:38] debragail commented on #151
I thought this was going to be a public explorer on the website so was trying to make it responsive

[2018-12-22 01:07] debragail commented on #151
https://coinsutra.com/blockchain-explorer/

[2018-12-22 10:20] bicep commented on #149
@TalAter @debragail  Yeap let me give this one a shot.

[2018-12-24 13:35] #119 closed

[2019-01-20 08:04] debragail commented on #78
Thanks @bicep!

[2019-01-20 08:04] #78 closed

[2019-01-20 08:06] debragail commented on #149
@bicep let me know when you're ready to tackle this and I can write the corresponding tests.

[2019-01-23 14:40] bicep commented on #149
Yep, will do! I may give it a shot this weekend.

[2019-01-27 06:43] debragail opened #154 "Add Mining Status functionality"
Add Mining Status functionality for Mining in the header section of xplore.

It should say Mining if connected to the blockchain node, and Stopped if not.

States:

Mining
Stopped

[2019-02-17 20:09] debragail opened #159 "npm vunerabilities"
I must have ran an 'npm audit' and fixed the vulnerabilities and thus breaking webpack's peer dependencies versions.

## Expected Behavior

## Current Behavior

`Debras-MacBook-Pro:xplore 0PHE1IA$ npm start

The CLI moved into a separate package: webpack-cli
Please install 'webpack-cli' in addition to webpack itself to use the CLI
-> When using npm: npm i -D webpack-cli
-> When using yarn: yarn ad

[2019-02-24 22:40] debragail opened #163 "update webpack"
outdated dependency for webpack 4 using extract-text-webpack-plugin.  Using recommended mini-css-extract plugin.

<img width="746" alt="screen shot 2019-02-24 at 14 39 09" src="https://user-images.githubusercontent.com/552529/53306448-04bcf480-3842-11e9-8862-cfc9374777f7.png">
<img width="1111" alt="screen shot 2019-02-24 at 14 35 51" src="https://user-images.githubusercontent.com/552529/53306449-

[2019-03-01 16:59] mariolo1985 opened #165 "Missing extract-text-webpack-plugin"
`extract-text-webpack-plugin` is being used in [webpack.prod.js](https://github.com/DAVFoundation/xplore/blob/master/webpack.prod.js#L9) but is not included as a [dependency](https://github.com/DAVFoundation/xplore/blob/master/package.json#L22).

## Expected Behavior

When installing dependencies, `extract-text-webpack-plugin` should be installed as a devDependencies.

## Current Behavior

[code]

[2019-03-01 17:03] mariolo1985 opened #166 "webpack.dev.js has syntax errors"
[code]
## Expected Behavior

To run `npm run start` successfully

## Current Behavior

Errors with a `Unexpected token` message

## Possible Solution

Resolve block brackets.

## Steps to Reproduce (for bugs)

1. Run `npm install`
2. Run `npm run start`

## Context

Unable to start dev server.

## Your Environment

* Version used:
* Environment name and version (e.g. Node 7.3.12): Node 10.15.0 NPM

[2019-03-01 17:31] mariolo1985 commented on #149
Hey guys - may I suggest writing any React components that does not use state as a functional component. This will be more pure without needing to go through additional lifecycles pass render. You can also destruct props and know what arguments you are using.

Please correct me if I am interrupting the implementation wrong. One thing I saw on the Redux side is that reducers should not be passing i

[2019-04-21 13:18] TalAter commented on #166
Fixed in #167

[2019-04-21 13:18] #166 closed

[2019-05-05 18:24] sureife commented on #147
Hi @debragail. Can I get a go at this one?

[2019-05-05 18:25] sureife commented on #163
Hi. Would love to help with this!

[2019-05-05 18:30] sureife commented on #165
Hi, I am available to fix this one. Should I go ahead?

[2019-05-09 15:28] mariolo1985 commented on #165
Hello @sureife - if you are still available, please go ahead 👍 thanks!

[2019-05-10 14:51] sureife commented on #165
Thanks @mariolo1985

[2019-05-26 09:44] TalAter commented on #165
@sureife
Are you still interested in fixing this one?
You can also go ahead and tackle #163 and #147 if you want